$border-color: rgba(255, 255, 255, 0.47);
//border: 1px solid $border-color;


.crafts-section {
  .service-block {
    padding: 80px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border: 1px solid $border-color;
    border-bottom: 0px;
    h1 {
      font-family: 'Bebas Neue', sans-serif;
        font-size: 70px;
      span {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 70px;
        color: #D95320 !important;
      }
    }
    img {
      max-width: 350px;
    }
    p {
      max-width: 500px;
    }
  }
  .download-section {
    padding: 80px 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
    border: 1px solid $border-color;
    flex-wrap: wrap;
    .dl-item {
      max-width: 550px;
      h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 50px;
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;
      }
      .description {
        margin-top: 20px;
      }
      .link {
        text-decoration: underline;
        margin: 20px 0px !important;
        display: block;
        color: white;
      }
      .border-par {
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
      }
      button {
        text-transform: uppercase;
        background: #D95320;
        padding: 20px 20px;
        max-width: 380px;
        text-align: center;
        margin-top: 20px;
        color: white;
        font-size: 20px;
        border: 0px;
      }
    }
  }
  .property-section {
    padding: 80px 80px;
    border: 1px solid $border-color;

    .prop-block {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      gap: 60px;
      margin-top: 70px;
    }
    h2 {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 50px;
      display: block;
      padding-bottom: 20px;
      text-align: center;
    }
    .prop-item {
      max-width: 350px;
      border: 1px solid $border-color;
      padding: 40px 40px;
      img {
        max-width: 150px;
        display: block;
        margin: 0px auto;
      }
      h3 {
        text-align: center;
        margin: 30px 0px;
        font-size: 30px;
        font-family: 'Bebas Neue', sans-serif;
      }
    }
  }
}


@media only screen and (max-width: 1200px) {
  .crafts-section {
    .service-block {
      padding: 30px 30px;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 50px;
        text-align: center;
      }
      img {
        max-width: 300px;
      }
      p {
        max-width: 100%;
      }
    }
    .download-section {
      padding: 30px 30px;
    }
    .property-section {
      padding: 30px 30px;
    }
  }


}