$border-color: rgba(255, 255, 255, 0.47);

.scroll-section {
  max-width: 1950px;
}

.mobile-menu-button {
  display: none;
  background-color: transparent;
  border: 0px;
  img {
    height: 20px;
    cursor: pointer;
  }
  .mobile-menu-block {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    //width: 320px;
    width: 330px;
    background-color: rgb(0 0 0 / 93%);
    z-index: 30;
    padding-top: 40px;
    .menu-item {
      color: white;
      display: block;
      font-size: 18px;
      padding: 15px 0px;
      margin-bottom: 5px;
      text-align: start;
      //padding-left: 100px;
      position: relative;
      padding-left: 22px;
      margin-left: 66px;
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        background-image: url(/images/arrow-menu.png);
        width: 10px;
        height: 15px;
        display: block;
        background-size: cover;
        transform: translateY(30%);
      }
    }
    .book-link {
      max-width: 200px;
      padding: 10px 15px;
      color: white;
      background: rgba(217, 83, 32, 0.8);
      font-size: 16px;
      font-weight: 500;
      margin: 20px auto;
      display: inline-block;
    }
  }
  &:focus-within {
    .mobile-menu-block {
      visibility: visible;
    }
  }
}

.menu-button {
  background-color: transparent;
  border: 0px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  img {
    height: 20px;
    cursor: pointer;
  }
  .mobile-menu-block {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    //width: 320px;
    width: 330px;
    background-color: rgb(0 0 0 / 93%);
    z-index: 30;
    padding-top: 40px;
    .menu-item {
      color: white;
      display: block;
      font-size: 18px;
      padding: 15px 0px;
      margin-bottom: 5px;
      text-align: start;
      //padding-left: 100px;
      position: relative;
      padding-left: 22px;
      margin-left: 66px;
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        background-image: url(/images/arrow-menu.png);
        width: 10px;
        height: 15px;
        display: block;
        background-size: cover;
        transform: translateY(30%);
      }
    }
    .book-link {
      max-width: 200px;
      padding: 10px 15px;
      color: white;
      background: rgba(217, 83, 32, 0.8);
      font-size: 16px;
      font-weight: 500;
      margin: 20px auto;
      display: inline-block;
    }
  }
  &:focus-within {
    .mobile-menu-block {
      visibility: visible;
    }
  }
}

.mainSection {
  height: 100vh;
  min-height: 800px;
  padding: 50px 50px 50px 50px;
  max-width: 1950px;
  .border-cont {
    padding: 15px 0px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    height: 100%;
    position: relative;
    .scroll-down-button {
      position: absolute;
      bottom: -45px;
        left: 50%;
        transform: translateX(-50%);
        img {
          height: 40px;
          cursor: pointer;
          padding: 10px;
          border: 1px solid $border-color;
        }
    }
    .scroll-down-text {
      position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      font-size: 20px;
      color: white;
    }
  }
  .head-container {
    border: 1px solid $border-color;
    height: 100%;
    border-bottom: 0px;
    border-top: 0px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 50px;
      padding-top: 10px;
      border-bottom: 1px solid $border-color;
      .logo {
        img {
          height: 50px;
        }
      }
      .menu-block {
        .menu-item {
          padding: 15px 20px;
          color: white;
          font-size: 18px;
          font-weight: 400;
        }
        .book-link {
          padding: 10px 15px;
          color: white;
          background: rgba(217, 83, 32, 0.8);
          margin-left: 40px;
          font-size: 16px;
          font-weight: 500;
        }
        .active {
          color: #F0AF3A;
        }
      }
    }
    .mainSection-content {
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      h1 {
        font-family: 'Bebas Neue', sans-serif;
        font-style: normal;
        text-transform: uppercase;
        color: white;
        padding: 0px 50px;
        max-width: 800px;
        font-weight: 400;
        font-size: 80px;
        line-height: 109%;
        span {
          font-family: 'Bebas Neue', sans-serif;
          font-style: normal;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 80px;
          line-height: 109%;
          color: rgba(217, 83, 32, 0.8) !important;
        }
      }
      p {
        font-size: 22px;
        color: #C1C1C1;
        max-width: 320px;
        padding: 20px 50px;
        line-height: 136%;
        font-weight: 400;
      }
      .book-button {
        display: none;
        padding: 10px 15px;
        color: white;
        background: rgba(217, 83, 32, 0.8);
        font-size: 15px;
        width: 190px;
        margin: 0px auto;
        margin-bottom: 50px;
        font-weight: 500;
      }
      .des-img {
        max-width: 850px;
        height: auto;
        padding: 0px 50px;
      }
      .mob-img {
        display: none;
        max-width: 100%;
        margin: 10px auto;
        max-height: 400px;
      }
    }
  }
}


//.patent-items {
//  //height: auto;
  .patentItem {
    display: flex;
    height: 100vh;
    margin: 0px 50px;
    padding: 50px 0px;
    border-bottom: 1px solid $border-color;
    &:last-child {
      border-bottom: 0px;
      //margin-bottom: 100px;
    }
    .left-block {
      width: 30%;
      display: inline-block;
      height: 100%;
      .content-container {
        border: 1px solid $border-color;
        height: 90%;
        padding: 0px 20px;
        h2 {
          font-family: 'Bebas Neue', sans-serif;
          padding: 50px 0px;
          border-bottom: 1px solid $border-color;
          text-align: center;
          color: white;

          font-weight: 400;
          font-size: 40px;
          line-height: 120%;
        }
        h3 {
          font-size: 70px;
          font-weight: bold;
          color: white;
          padding: 30px 50px;
          text-align: center;
        }
        p {
          font-size: 1.2rem;
          color: white;
          text-align: center;
          padding: 10px 30px;
        }
        .main-img {
          display: block;
          width: 10rem;
          margin: 50px auto;
        }
      }
      .patent-mob-image {
        display: none;
        border: 1px solid $border-color;
        border-top: 0px;
        border-bottom: 0px;
        img {
          max-width: 600px;
          margin: 0px auto;
          display: block;
        }
      }
      .learn-more {
        display: block;
        width: 100%;
        background-color: rgba(217, 83, 32, 0.8);
        text-align: center;
        padding: 20px 0px;
        color: white;
        font-size: 40px;
        margin-top: 15px;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
    .right-block {
      width: 70%;
      padding: 50px 50px;
      display: flex;
      align-items: center;
      border-right: 1px solid $border-color;
        img {
            width: 100%;
        }
    }
  }
//}







.patent-container {
  height: 100vh;
  padding: 50px 50px;
  max-width: 1950px;
  .patent-header {
    display: flex;
    align-items: center;
    padding: 5px 50px;
    justify-content: space-between;
    border: 1px solid $border-color;
    border-left: 0px;
    padding-left: 0px;
    div {
      min-width: 200px;
      .header-logo {
        display: inline-block;
        vertical-align: middle;
        img {
          margin-left: 20px;
          height: 50px;
          padding: 10px 0px;
        }
      }
    }
    .patent-content {
      padding: 0px 50px;
      width: 750px;
      h1 {
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 3px;
      }
      h2 {
        text-align: center;
        color: white;
        font-family: 'Bebas Neue', sans-serif;

        font-weight: 400;
        font-size: 40px;
        line-height: 120%;
        position: relative;
        &:before {
          position: absolute;
          content: '';
          left: -50px;
          background-image: url(/images/left-arrow.png);
          transform: translateY(40%);
          width: 25px;
          height: 25px;
          background-size: cover;
        }
        &:after {
          position: absolute;
          content: '';
          right: -50px;
          background-image: url(/images/right-arrow.png);
          transform: translateY(40%);
          width: 25px;
          height: 25px;
          background-size: cover;
        }
      }
    }
  }
  .patent-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    .left-block {
      width: 30%;
      .title-block {
        display: none;
        padding: 20px 20px;
        border: 1px solid $border-color;
        border-top: 0px;
        h2 {
          font-size: 25px;
          color: white;
        }
      }
      #bord {
        border-bottom: 1px solid $border-color;
      }
      .text-cont {
        padding: 0px 25px;
        border: 1px solid $border-color;
        border-top: 0px;
        border-bottom: 0px;
        h3 {
          font-size: 30px;
          color: white;
          padding: 20px 0px;
          border-bottom: 1px solid $border-color;
        }
        p {
            font-size: 1.2rem;
            color: white;
            padding-top: 20px;
          padding-bottom: 40px;

        }
        .text-mark {
          font-size: 1.2rem;
          color: white;
          padding-top: 20px;
          padding-bottom: 40px;
          li {
            list-style-position: inside;
          }
        }
      }
      .buttons-cont {
        width: 100%;
        .link-button {
          display: block;
          text-align: center;
          padding: 20px 0px;
          color: white;
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
          border: 1px solid #D95320;
        }
        .sp-link {
          background: #D95320;
        }
      }
    }
    .right-block {
      position: relative;
      height: 100%;
      width: 70%;
      overflow: auto;
      margin: 50px 50px;
      margin-top: 60px;
      .img-container {
        position: sticky !important;
        top: 0px;
        display: flex;
        margin-bottom: 250px;
        justify-content: center;
        img {
          //height: 700px;
          //width: auto;

          max-height: 600px;
          width: auto;
          max-width: 700px;
        }
      }
    }
    .mobile-footer {
        display: none;
      padding-bottom: 300px !important;
      img {
        width: 100%;
      }
      .book-call {
        display: block;
        text-align: center;
        padding: 20px 0px;
        color: white;
        background: #D95320;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid $border-color;
        margin-top: 100px;
      }
    }
  }
}



@media only screen and (max-width: 1200px) {

  .mobile-menu-button {
    display: block !important;
  }

  .scroll-down-button {
    display: none;
  }

  .mainSection {
    padding: 20px 20px 20px 20px;
  .header {
    .menu-block {
      display: none;
    }
  }
    .mainSection-content {
      display: block !important;
      .mainSection-title {
        display: block !important;
        text-align: center;
        max-width: 100% !important;
        margin: 40px 0px;
        font-size: 38px !important;
        padding: 0px 0px !important;
        span {
          font-size: 38px !important;
          color: #D95320;
        }
      }
      p {
        display: none;
      }
      .book-button {
        display: block !important;
      }
      .des-img {
        display: none !important;
      }
      .mob-img {
        display: block !important;
      }
    }

  }



  //.patent-items {
  //  height: auto;
    .patentItem {
      display: block;
      height: auto !important;
      //margin: 0px 50px;
      //padding: 50px 0px;
      margin: 0px 20px;
      padding: 20px 0px;
      border-bottom: 1px solid $border-color;
      &:last-child {
        border-bottom: 0px;
        //margin-bottom: 100px;
      }
      .left-block {
        display: block;
        width: 100% !important;
        height: auto !important;
        .main-img {
          display: none !important;
        }
        h2 {
          padding: 10px 20px !important;
        }
        p {
          margin: 10px auto;
        }
        .learn-more {
          margin-top: 0px;
        }
        .patent-mob-image {
          display: block;
          width: 100%;
        }
      }
      .right-block {
        display: none !important;
      }
    }
  //}



  .patent-container {
    .patent-header {
      //justify-content: center !important;
      img {
        display: block;
      }
      .patent-content {
        h2 {
          display: none;
        }
      }
    }
    .patent-content {
      display: block;
      .left-block {
        width: 100% !important;
        .text-cont {
          border-bottom: 1px solid $border-color !important;
          h3 {
            font-size: 24px;
          }

          p {
            font-size: 15px;
          }
        }
        .buttons-cont {
          display: none;
        }
        .title-block {
          display: block;
        }
      }
      .right-block {
        width: 100% !important;
        margin: 0px;
        margin-top: 40px;
        height: auto;
        overflow: visible;
        .img-container {
          top: 100px;
          //height: 100vh;
          img {
            width: auto !important;
            height: auto !important;
            max-width: 320px !important;
          }
        }
      }
      .mobile-footer {
        display: block;
      }
    }
  }


}



@media only screen and (max-width: 700px) {

  .patent-mob-image {
    img {
      max-width: 100% !important;
      margin: 0px auto;
      display: block;
    }
  }
}